@model IEnumerable<Gse.Erp.Auth.Data.Empresa>

@{
    ViewBag.Title = "Empresas";
}

<h2>Listado Empresas</h2>

<p>
    @*<h4>@Html.ActionLink("Create New", "Create", null, new { @class = "glyphicon glyphicon-plus" })</h4>*@
    @*@Html.ActionLink("Create New", "Create", null, new { @class = "glyphicon glyphicon-plus", @alt = "Create New", @title = "Create New", @style = "text-align:right;" })*@
    @*<span class="glyphicon glyphicon-plus"></span> @Html.ActionLink("Create New", "Create", null, new { @alt = "Create New", @title = "Create New" })*@ 
    <h4><a href="@Url.Action("Create","Empresas")"><span class="glyphicon glyphicon-plus"></span> Create New</a></h4>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.NombreUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cif)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaAlta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaBaja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.NombreUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cif)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaAlta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaBaja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaModificacion)
        </td>
        <td>
            <a href="@Url.Action("Edit","Empresas", new { id=item.Id })" class="glyphicon glyphicon-pencil" title="Edit" style="font-size:smaller;"></a> |
            <a href="@Url.Action("Details","Empresas", new { id=item.Id })" class="glyphicon glyphicon-eye-open" title="Details" style="font-size:smaller;"></a> |
            <a href="@Url.Action("Delete","Empresas", new { id=item.Id })" class="glyphicon glyphicon-trash" title="Delete" style="font-size:smaller;"></a>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}

</table>
